:root{
    --background: #374388;
}

*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
}

#video{
    height: 100%;
    width: 530px;
    position: relative;
    overflow: hidden;
}

#video img{
    width: 100%;
    height: 100%;
    position: absolute;
}